.hero {
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 235, 205, 0.81);
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: rgb(120, 5, 5);
  font-family: "Euphoria Script";
  font-style: oblique 0.2;
}

.hero h1 {
  font-size: 70px;
  padding-top: 10px;
  margin-top: 0;
}
