nav.navbar.navbar-default {
  margin-bottom: 0;
}

/* Navbar Styling */
.navbar-nav .nav-link {
  color: #731a1a;

}

.navbar-nav .nav-link:hover {
  color: rgb(103, 4, 4);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active {
  color: rgb(103, 4, 4) !important;
  font-weight: bold;
}

.navbar-brand {
  font-weight: 600 !important;
  color: rgb(103, 4, 4) !important;
  font-size: 1.5rem !important;
}

.navbar-toggler:hover {
  background-color: bisque !important;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgb(255, 252, 240);
}