/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Global Container for Pages */
.page-container {
  margin-top: 2rem;
}
/* General container styles */
.container,
.exercise-list-form-container,
.task-container,
.entry-list-container {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* Page background */
.page-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,h2,h3,h4 {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
}
.heading {
  text-align: center;
}

/* Button Styling */
.button-container {
  display: flex;
justify-content: space-between;
  align-items: start;
  gap: 10px; 
  flex-wrap: wrap; 
}
.button-container button {
  background-color: burlywood;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  min-width: 30px; 
  max-width: 50px;
}
.button-container button:hover {
  background-color: #ff6347;
}
button.add-entry-button,
button.add-task-button,
button.add-item-button {
  background-color: burlywood;
  color: #333;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
button.add-entry-button:hover,
button.add-task-button:hover,
button.add-item-button:hover {
  background-color: rgb(248, 114, 65);
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.table-responsive,
.table td,
.table th {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Modal button styles */
.close-modal-button {
  padding: 8px 16px;
  background-color: rgb(248, 114, 65);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Journal */
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.journal-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #3e4b5b;
}
.journal-table {
  width: 100%;
  table-layout: auto; /* Columns adjust based on content */
}
.journal-table th, .journal-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
.journal-table .heading {
  background-color: #f2f2f2;
  font-weight: bold;
}
.journal-table .content {
  width: 60%; 
}
.journal-table .title {
  width: 20%; 
}
.journal-table .date {
  width: 15%; 
}
.journal-table .actions {
 width: 5%;
}
.journal-table td.content {
  font-size: 0.9rem;
}
.journal-table td.title {
  font-size: 1rem;
  font-weight: bold;
}

/* Journal Responsive Styling */
@media (max-width: 768px) {
  .journal-table th, .journal-table td {
    padding: 8px;
  }

  .journal-table td.content {
    font-size: 0.85rem;
  }
}

.entry-form {
  margin: 0 auto;
  background-color: bisque;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  box-sizing: border-box;
}
.entry-list-container {
  margin-top: 2rem;
  background-color: bisque;
  border-radius: 5px;
  padding: 1rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.larger-cell {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.larger-cell.wrap {
  white-space: normal;
  word-wrap: break-word;
}

td {
  width: 150px;
  white-space: nowrap;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/* Task page */
.task-container {
  background-color: rgb(231, 219, 197);
  padding: 20px;
}
.task-header {
  text-align: center;
  background-color: rgb(231, 219, 197);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 2rem;
}
input[type="text"],
input[type="number"],
textarea {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.list-group {
  list-style-type: none;
  padding: 0;
}
.list-group li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* List Styling */
.shopping-list {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
  max-width: 1200px;
}
.shopping-list li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable-cell {
  cursor: pointer;
  color: bisque;
  text-decoration: underline;
}
.clickable-cell:hover {
  text-decoration: none;
}
  
/* Social media links */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
  flex-wrap: wrap;
  gap: 15px;
}
.link {
  margin: 0 10px;
  color: #f4f4f4;
  text-decoration: none;
}
.link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: rgba(103, 4, 4, 0.81);
}

/* Page Not Found Styles */
.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
}
.error-icon {
  color: yellow;
  font-size: 100px;
  margin-bottom: 20px;
}
.error-image img {
  max-width: 100%;
  height: auto;
}
.error-message {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive Layout */
@media (max-width: 1200px) {
  .container {
    padding: 2rem;
  }
  .button-container {
    width: 100%;
    gap: 10px;
      justify-content: center;
      align-items: end;
      gap: 10px;
      flex-wrap: wrap;
  }
  .button-container button {
    width: 60%;
    min-width: 20px;
    max-width: 40px;
    max-height: 40px;
    padding: 0.3rem 0.5rem;
  }
  button.add-entry-button, 
  button.add-task-button, 
  button.add-item-button {
  font-size: 1.6rem;
  padding: 10px;
}
  .exercise-list-form-container {
    padding: 5px;
  }
  .entry-list-container {
    padding: 0;
  }
  .table-responsive {
    margin-bottom: 20px;
  }
  .table-responsive, .table td, .table th {
    font-size: 25px;
    padding: auto;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1.6rem !important;
  font-weight: 400;
  line-height: 1.5;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center; 
    gap: 10px;
  }
  .button-container button {
    width: 60%;
    min-width: 20px;
    max-width: 40px;
    max-height: 40px;
    padding: 0.3rem 0.5rem;
  }
  .exercise-list-form-container {
    padding: 5px;
  }
  .entry-list-container {
    padding: 0;
  }
  .table-responsive {
    margin-bottom: 20px;
  }
  .table-responsive, .table td, .table th {
    font-size: 15px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
}
button.add-entry-button, button.add-task-button, button.add-item-button {
  font-size: 0.9rem;
  padding: 5px;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: rgba(103, 4, 4, 0.81);
}
}
@media (max-width: 480px) {
  .table-responsive {
    margin-bottom: 15px;
  }
  .button-container {
    flex-direction: column;
    gap: 5px;
  }
  .button-container button {
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    min-width: 20px; 
    max-width: 40px;
    max-height: 40px;
  }
  .table-responsive, .table td, .table th {
    font-size: 13px;
    text-align:start
}
.row {
  display: flex;
  flex-direction: column;
}
.social-links {
  gap: 5px;
  padding-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
}
}

@media (max-width: 375px) {
  .entry-form-container,
  .exercise-list-form-container {
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .form-control {
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.9rem;
  }
  .add-entry-button {
    width: 50%;
    padding: 3px;
  }
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table {
    width: 100%;
    font-size: 12px;
  }
  .button-container button {
    margin-bottom: 5px;
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    min-width: 20px; 
    max-width: 38px;
    max-height: 38px;
  }
  .heading {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .favorite-links-list li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .favorite-links-list a {
    font-size: 14px;
  }
  .entry-form h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 8px;
    text-align: center;
  }
  .social-links {
    gap: 5px;
    padding-bottom: 50px;
    margin-top: 0;
    padding-top: 0;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img,
  svg {
    vertical-align: middle;
    height: 1rem;
  }
  .link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: rgba(103, 4, 4, 0.81);
  }
}

  
